*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin: 0 50px;
    display: flex;
   margin-bottom: 50px;
   gap: 20px;
   margin-top: 20px;
}
.sub-container{
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
}
.sub-container-2{
    background-color: red;
}
 
h1{
    padding-bottom: 10px;
}



@media screen and (max-width: 576px) {
.container{
    flex-direction: column;
    gap: 20px;
}

}
@media screen  and (min-width: 576px) and (max-width: 992px) {
.container{
    flex-direction: calc(2);
}
}